<ul class="nav flex-column flex-nowrap">
    <li class="nav-item">Welcome, <?=$_SESSION['admin_name'] ?></li>
    <li class="nav-item">
        <a class="nav-link" href="dashboard">
            <img src="images/icons/dashboard.svg" alt="Dashboard Icon">&nbsp;&nbsp;
            Dashboard
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="messages">
            <img src="images/icons/comment-square.svg" alt="Comment Icon">&nbsp;&nbsp;
            Messages
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="franchise-request">
            <img src="images/icons/phone.svg" alt="Phone Icon">&nbsp;&nbsp;
            Franchise Request
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="subscribers">
            <img src="images/icons/person.svg" alt="Phone Icon">&nbsp;&nbsp;
            Subscribers
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="php/logout.php">
            <img src="images/icons/account-logout.svg" alt="Logout Icon">&nbsp;&nbsp;
            Logout
        </a>
    </li>
</ul>