<footer class="pt-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <ul class="nav mb-1">
                    <li class="nav-item">
                        <a class="nav-link" href="privacy-policy">Privacy Policy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="disclaimer">Disclaimer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="sitemap.html">Sitemap</a>
                    </li>
                </ul>
                <p class="ml-1">&copy;2019 Anaforwomen. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="container-fluid">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <h4 class="font-weight-bold">FOLLOW Us on</h4>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div>
                            <a class="mr-2" target="_blank" href="https://www.facebook.com/ana4women/"><img
                                    src="images/icons/facebook.svg" alt="Facebook Icon"></a>
                            <a class="mr-2" target="_blank" href="https://www.instagram.com/anaforwomen/"><img
                                    src="images/icons/instagram.svg" alt="Instagram Icon"></a>
                            <a class="mr-2" target="_blank" href="https://twitter.com/anaforwomen"><img
                                    src="images/icons/twitter.svg" alt="Twitter Icon"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<div class="loader-container d-none">
    <div class="loader">
        <div class="spinner-border text-dark" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

<!--Start of Tawk.to Script-->
<script>
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/5d8f06076c1dde20ed03e85e/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->