<header class="py-1">
    <div class="container position-relative">
        <div class="text-center">
            <a href="./"><img src="images/logo.png" alt="Anaforwomen Logo" height="60" id="header-logo"></a>
        </div>

        <div class="position-absolute top-1 right-0">
            <a class="mr-2" target="_blank" href="https://www.facebook.com/ana4women/"><img
                    src="images/icons/facebook.svg" alt="Facebook Icon"></a>
            <a class="mr-2" target="_blank" href="https://www.instagram.com/anaforwomen/"><img
                    src="images/icons/instagram.svg" alt="Instagram Icon"></a>
            <a class="mr-2" target="_blank" href="https://twitter.com/anaforwomen"><img src="images/icons/twitter.svg"
                    alt="Twitter"></a>
        </div>

        <div class="position-absolute top-1 left-0">
            <div id="google_translate_element"></div>
            <script type="text/javascript">
                function googleTranslateElementInit() {
                    new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
                }
            </script>

            <script type="text/javascript"
                src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

        </div>
    </div>
</header>